.edit-user{
    display: flex;
    justify-content: center;
}


.edit-user-input {
    height: 30px;
    border: solid 3px grey;
    border-radius: 5px;
    color: grey;
    font-size: 1.2em;
}

.edit-user-content{
    display: flex;
}

.edit-user-firstname{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.edit-user-lastname{
    display: flex;
    flex-direction: column;
}
.edit-button-user{
    border-color: #00bc77;
    background-color: #fff;
    color: #00bc77;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
}

.edit-button-format{
    display: flex;
    justify-content: flex-end;
}

.edit-user-firstname{
    margin-right: 5px;
}

.edit-user-lastname{
    margin-left: 5px;
}
